#harlemshake_button a:hover{
	text-decoration: none;
	text-align: center;
	background: red;
	color: white;
	cursor: pointer;
}
#harlemshake_button a{
	text-decoration: none;
	text-align: center;
	background: red;
	color: white;
	padding: 1em;
}